<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<div th:align="center">
    <h1>Edit User</h1>
    <form th:method="PATCH" th:action="@{/{id}/updateUser(id=${user.getId()})}" th:object="${user}">
        <div>
            <label for="first_name">First name</label>
            <input type="text" th:field="*{name}" id="first_name">
            <br>
            <label for="last_name">Last name</label>
            <input type="text" th:field="*{lastName}" id="last_name">
            <br>
            <label for="age">Age</label>
            <input type="text" th:field="*{age}" id="age">
            <br>
            <input type="submit" value="Edit">
        </div>
    </form>
</div>
</body>
</html>