<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Database of Users</title>
</head>
<body>
<div th:align="center">
    <h2>Database of Users</h2>
    <div>
        <table th:border="2" th:cellpadding="15">
            <thead>
            <tr>
                <th>Id</th>
                <th>First Name</th>
                <th>LastName</th>
                <th>Age</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${allUsers}">
                <td th:text="${user.getId()}">Id</td>
                <td th:text="${user.getName()}">name</td>
                <td th:text="${user.getLastName()}">lastName</td>
                <td th:text="${user.getAge()}">age</td>
                <td>
                    <form th:method="GET" th:action="@{/{id}/update(id=${user.getId()})}">
                        <input type="submit" value="Edit"/>
                    </form>
                </td>
                <td>
                    <form th:method="DELETE" th:action="@{/{id}/delete(id=${user.getId()})}">
                        <input type="submit" value="Delete"/>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <br>
    <hr/>
    <input type="button" value="Add user" onclick="window.location.href = '/create'"/>
</div>
</body>
</html>